@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
.App {
  text-align: center;
}
#light {
  background-color: white;
}
#dark {
  background-color: black;
}
* {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.main {
  height: 100vh;
}
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;

  padding-top: 1vh;
}
.logo {
  height: 12vh;
  margin-left: 2vh;
}
ul {
  display: flex;
  align-items: center;
  gap: 10vh;
}
li {
  list-style: none;
  font-size: 3vh;
  font-weight: 600;
}
#light li {
  color: black;
}
#dark li {
  color: rgb(242, 102, 58);
}

.buttons {
  margin-right: 2vh;
}
.login-button {
  font-weight: 800;
  font-size: 2.2vh;
  height: 5.5vh;
  width: 12vh;

  border: none;
  border-radius: 2.5vh;
  margin-right: 3vh;
}
#light .login-button {
  background-color: rgb(242, 102, 58);
  color: white;
}
#dark .login-button {
  background-color: rgb(204, 204, 204);
  color: black;
}
.theme-label {
  font-weight: 700;
}
#light .theme-label {
  color: black;
}
#dark .theme-label {
  color: white;
}
.content-main {
  margin-top: 18vh;
}
.search-section {
    margin-top: 30px;
}
.ss2{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 48rem;
    border-radius: 40px;
    margin-left: 17rem;
    background-color: #ededed;
    border: none;
    box-shadow: none;
}

input{
    height: 40px;
    width: 40rem;
    box-shadow: none;
    outline: none;
    background-color: #ededed;
    border: none;
    padding: 5px;
}
.search-button{
    border: none;
    font-weight: bold;
    background-color: #2e6ee0;
    border-radius: 15px;
    height: 30px;
    margin-left: -10px;
}
.search-button:hover{
    cursor: pointer;
}
.h1 {
  font-size: 12vh;
  font-weight: 800;
}
#light .h1 {
  color: black;
}
#dark .h1 {
  color: rgb(242, 102, 58);
}
.h2 {
  font-size: 12vh;
  font-weight: 800;
  color: rgb(242, 102, 58);
}
#light .h2 {
  color: rgb(242, 102, 58);
}
#dark .h2 {
  color: white;
}
p {
  font-size: 2.5vh;
  margin-top: 8vh;
}
#light p {
  color: black;
}
#dark p {
  color: white;
}